
body {
	background: center center no-repeat;
    background-size:cover;
    /**make bg fixed when scrolling*/
    background-attachment: fixed;
    height: 100%;
}

/* image size */
img{
	max-width: 100%;
}
/* padding for portraits container*/
.gallery{
	padding: 80px 0;
}
.gallery img{
	background-color: #fff5c8;
	/* frame padding */
	padding: 5px;
	width: 100%;
	/* image border shadow */
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
	filter: brightness(100%);
	
}

/* size of modal image */
#gallery-modal .modal-img{
	width: 100%;
}
a.company_link {
	color:bisque;
}
a.company_link:hover {
	color:rgb(60, 200, 255) !important;
}
.footer_text {
	color: rgb(203, 255, 255);
}

/** image hovering transform for images when width of this document is 991px or greater*/
@media (min-width: 991px) {

	/*image hover*/
	.imagehover {
		box-sizing: border-box;
		transition: transform .4s;
	}

	.imagehover:hover {
		box-sizing:border-box;
		transform: scale(1.1);
}

	a.company_link {
		color:bisque;
	}
	a.company_link:hover {
		color:rgb(60, 200, 255) !important;
	}
	.footer_text {
		color: rgb(203, 255, 255);
	}
}

/*when screen is 830px or less, make company link automatically aquamarine*/
@media (max-width: 830px) {
	a.company_link {
		color:rgb(60, 200, 255)!important;
	}
	.footer_text {
		color: rgb(203, 255, 255);
	}
}
/* when screen is less than 460px */

@media( max-width: 459px) {
	.footer_text {
		font-size: smaller;
	}
	.footer_text {
		color: rgb(203, 255, 255);
	}
}

/* when screen is 552 or less, make long description text small */
@media(max-width: 552px) {
	#carousel_long_desc {
		font-size: small;
	}
}

/* when screen is 900 or less, make short description text small */
@media(max-width: 900px) {
	#homepage_short_description {
		font-size: small !important;
	}
	#jpy, #usd {
		font-size: small !important;
	}
	/*register and my account forms*/
	.form-control {
        height: 25px !important;
        font-size: 0.9 rem !important;
      }
    #id_country, #id_state, #id_prefecture {
        height: 35px !important;
    }
	#register-redirect-button {
		font-size: 13px !important;

	}


}
/* when screen is 759 or more, make short description text normal and title large */
@media(min-width: 759px) {
	#homepage_short_description {
		font-size:medium !important
	}
	#painting_name {
		font-size: larger !important;
	}
}

.owl-carousel .owl-stage .owl-theme .owl-loaded {
	margin: 0 auto; 
}

/* outline of text */
nav .navbar-nav li a{
	color: rgb(0, 0, 0) !important;
} 

/* align nav items in collapsed hamburger menu center */
.navbar-nav {
	text-align: center !important;
}


/* navbar bottom border */
.navbar {
	border-bottom: ridge rgba(0, 110, 255, 0.3);
}
/* hamburger navbar animation */
.navbar-collapse {
	-webkit-transition: height .15s ease !important;
	-o-transition: height .15s ease !important;
	transition: height .15s ease !important;
}
/* hamburger button border color */
.navbar-toggler {
	color:rgb(60, 200, 255) !important;
}

.credintial-card {
	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 0 0 15px rgba(0, 162, 255, 0.4);
}

.card {
	background-color: rgba(255,255,255,0.95);
}

/* language dropdown */
.dropdown .dropdown-menu {
	-webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	-moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	-ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	-o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

	max-height: 0;
	display: block;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}

.dropdown.show .dropdown-menu {
	-webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
	-moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
	-ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
	-o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
	transition: max-height 0.3s, opacity 0.2s, visibility 0s;

	max-height: 190px;
	opacity: 1;
	visibility: visible;
}

/* hamburger button animation */
#nav-icon {
	/* controls width and height of strokes and nav toggler bordern */
	width: 1.5em;
	height: 1.5em;
	/* position of all three strokes */
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	/* animation speed */
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
/* strokes */
#nav-icon span {
	display: block;
	position: absolute;
	/* thickness of each line */
	height: 2px;
	/* length of each line 
		but doesn't center it left side is fixed
	*/
	width: 30px;
	/* hamburger stroke color */
	background: rgba(0, 0, 0, 0.8);
	/* keeps animation center */
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	/* animation speed */
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
  }
  /* Icon */
/* first stroke*/
  #nav-icon span:nth-child(1) {
	/* how much space from top of div to first stroke */
	top: 4px;
  }
  /* this is the second stroke */
  #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
	/* how much space between top of div and middle stroke */
	top: 14px;
  }
 /* third stroke */
  #nav-icon span:nth-child(4) {
	/* how much space between top of div and third stroke */
	top:24px;
  }
   
/* top stroke animation animates down and disappears */
  #nav-icon.open span:nth-child(1) {
	/* make this half of bottom's top which is 20 */
	top: 12px;
	/* makes top stroke disappear moving left*/
	width: 0%;
	left: 50%;
  }

/* makes a copy of second stroke and rotate positively */
  #nav-icon.open span:nth-child(2) {
	/* rotate positively */
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
/* makes a copy of second stroke and rotate negatively */

  #nav-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  }
/* bottom stroke animation animates down and disappears */
  #nav-icon.open span:nth-child(4) {
	/* make this half of bottom's top which is 20 */
	top: 12px;
	width: 0%;
	left: 50%;
  } 

/*fade in items*/
.gallery {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
	45% {
		opacity:0;
	}
    100% {
        opacity: 1;
     }
}
