
body {
	background: center center no-repeat;
    background-size:cover;
    /**make bg fixed when scrolling*/
    background-attachment: fixed;
    height: 100%;
}

/* image size */
img{
	max-width: 100%;
}
/* padding for portraits container*/
.gallery{
	padding: 80px 0;
}
.gallery img{
	background-color: #fff5c8;
	/* frame padding */
	padding: 5px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}

/* size of modal image */
#gallery-modal .modal-img{
	width: 100%;
}
a.company_link {
	color:bisque;
}
a.company_link:hover {
	color:rgb(60, 200, 255) !important;
}
.footer_text {
	color: rgb(203, 255, 255);
}

/** image hovering transform for images when width of this document is 991px or greater*/
@media (min-width: 991px) {

	/*image hover*/
	.imagehover {
		box-sizing: border-box;
		transition: transform .4s;
	}

	.imagehover:hover {
		box-sizing:border-box;
		transform: scale(1.1);
}

	a.company_link {
		color:bisque;
	}
	a.company_link:hover {
		color:rgb(60, 200, 255) !important;
	}
	.footer_text {
		color: rgb(203, 255, 255);
	}
}

/*when screen is 830px or less, make company link automatically aquamarine*/
@media (max-width: 830px) {
	a.company_link {
		color:rgb(60, 200, 255)!important;
	}
	.footer_text {
		color: rgb(203, 255, 255);
	}
}
/* when screen is less than 459px */

@media( max-width: 459px) {
	.footer_text {
		font-size: smaller;
	}
	.footer_text {
		color: rgb(203, 255, 255);
	}
}



/* navbar items (login logout cart) */
nav .navbar-nav li a{
	color: rgb(255, 0, 0) !important;
}
/* welcome message color */
li {
	color: rgb(255, 0, 0) !important;
}

/* portrait details */
.painting-details {
	background-color:aqua;
}

/* carousel */
