English below 👇

こんにちは {{name}} さん！


このメッセージは、アカウントが正常に削除されたことを通知するものです。私達
すぐにまた戻ってくることを願っています！


私のアートギャラリーを訪問していただきありがとうございます！


- クランダル 薫




Hi {{name}}! 


This message is to inform your account has been successfully deleted. We are sad
to see you go but we hope that you will be back again soon!

Take care and thank you for visiting my art gallery! 


- Kaoru Crandall







------ THIS IS AN AUTOMATED EMAIL. REPLIES TO THIS EMAIL WILL NOT BE DELIVERED ------


©2022 - LC Technologies - Jesus Christ is King👑
