{% extends "index.html" %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% static "images" as baseUrl %}
{% block title %}{% translate 'チェックアウト' %}{% endblock %}
{% block checkoutcontent %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container bg-light mt-5 rounded-lg border border-info rounded">
    <!-- Please review your order before purchasing -->
    {% if LANGUAGE_CODE == 'ja' %}
    <p class="fw-bold mt-2">{{currentUser.first_name}}さん, {% translate '購入する前に注文を確認してください。' %}</p>
    {% else %}
    <p class="fw-bold mt-2">{{currentUser.first_name}}, {% translate '購入する前に注文を確認してください。' %}</p>
    {% endif %}
    <hr>
    <div class="row">
        <!-- Painting name -->
        <div>
            {% if product %}
                {% if LANGUAGE_CODE == 'ja' %}
                <div class="card-title text-center" id="painting_name">
                    <h4>{{product.name}}</h4>
                </div> 
                {% else %}
                <div class="card-title text-center" id="painting_name">
                    <h4> {{product.english_name}}</h4>
                </div>
                {% endif %}
            {% endif %}
        </div>
        <!-- show image that is going to be purchased -->
        <div class="col-sm">
            <!-- display image to the left -->
            {% if product %}
                <img src="{{product.main_painting.url}}" class="card-img checkout_img pl-0" 
                    style="
                    height: 180px; 
                    width: 180px; 
                    aspect-ratio: auto 180/180;"/>
                <!-- dimensions -->
                <!-- cm -->
                <p style="font-size: 12px; margin-left: 14%;">
                    ({{product.cm_size}})
                    <br>
                    ({{product.in_size}})
                </p>
            {% endif %}
        </div>
        <!-- column 2 name, price, sizes -->
        <ul class="col-sm" style="list-style: none">
            <!-- price -->
            <div class="mt-5">
                    {% if currentUser %}
                        <!-- Japan product form -->
                        {% if currentUser.account.country == 'JP' %}
                            {% if product %}
                                <!-- subtotal -->
                                <span class="card-text" style="float: left;">{% translate '商品の小計：' %}</span>
                                <span class= "card-text" style="float: right;">¥{{product.price}}</span>
                                <br>
                                <!-- shipping and handing gotta contact Japan Post about these prices-->
                                <span class="card-text" style="float: left;">{% translate '配送料・手数料：' %}</span>
                                <span class= "card-text" style="float: right;">¥{{product.japan_shipping_price}}</span>
                                <br>
                                <!-- total -->
                                <span class="card-text" style="float: left;">{% translate '合計：' %}</span>
                                <!-- add japan shipping price field to model -->
                                <span class= "card-text" style="float: right;">¥{{product.price|add:product.japan_shipping_price}}</span>
                                <br>
                            {% endif %}
                        <!-- United States product form -->
                        {% elif currentUser.account.country == 'US' %}
                            {% if product %}
                                <!-- subtotal -->
                                <span class="card-text" style="float: left;">{% translate '商品の小計：' %}</span>
                                <span class= "card-text" style="float: right;">${{product.dollar_price}}</span>
                                <br>
                                <!-- shipping and handing gotta contact Japan Post about these prices-->
                                <span class="card-text" style="float: left;">{% translate '配送料・手数料：' %}</span>
                                <span class= "card-text" style="float: right;">${{product.usa_shipping_price}}</span>
                                <br>
                                <!-- total -->
                                <span class="card-text" style="float: left;">{% translate '合計：' %}</span>
                                <!-- add us shipping price field to model -->
                                <span class= "card-text" style="float: right;">${{product.dollar_price|add:product.usa_shipping_price}}</span>
                                <br>
                            {% endif %}
                        {% else %}
                        {% endif %}
                    {% endif %}
            </div>

        </ul>
        <!-- column 3 user's name, email and shipping address -->
        <ul class="col-sm align-items-start" style="list-style: none">
            {% if currentUser %}
                <p class="text-secondary" style="font-size: small;">{% translate '配送先住所が正しいことを確認してください。これは、私たちがあなたの商品を郵送する住所です。' %}</p>
                <li >
                    <p>
                        <!-- name -->
                        {{currentUser.first_name}}
                        {{currentUser.last_name}}
                        <br>
                        <!-- email -->
                        {{currentUser.email}}
                        <br>
                        <!-- phone number -->
                        {{currentUser.account.phone_number}}
                        <br>
                        <!-- street1 -->
                        {{currentUser.account.street1}}
                        <br>
                        <!-- street2 if entered -->
                        {% if currentUser.account.street2 %}
                            {{currentUser.account.street2}}
                            <br>
                        {% endif %}
                        {{currentUser.account.city}}
                        <br>
                        <!-- prefecture if Japan -->
                        {% if currentUser.account.country == 'JP' %}
                            {{currentUser.account.prefecture}}
                            <br>
                            日本 - Japan
                            <br>
                        {% else %}
                            <!-- state -->
                            {{currentUser.account.state}}
                            <br>
                            United States of America
                            <br>
                        {% endif %}
                        <!-- postal code -->
                        {{currentUser.account.postal_code}}
                        <br>
                    </p>
                </li>
            {% endif %}
        </div>
        <hr>
        <!-- checkout button -->
        <div class="text-center">
            <a role="button" class="btn btn-info btn-block mb-2 mt-3 mr-1">
                <!-- place order -->
                {% translate '注文する' %}
            </a>
            <a role="button" href="../../{{LANGUAGE_CODE}}/"class="btn btn-secondary btn-sm btn-block mb-2 mt-3 rounded-0 ml-1">
                {% translate "キャンセル" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}