{% load i18n %}
{% load static %}
{% load mathfilters %}
<!-- above inform Django that there are static files that need to be loaded in this index.html file -->

<!-- when you want to use images, use this jinja format to create a variable -->
{% static "images" as baseUrl %}
<!-- copy/pasted from travello sample static file template -->
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}" xml:lang="{{LANGUAGE_CODE}}">

	<head>
		<title> {% block title %}Kaoru Art Gallery{% endblock %}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--set browser tab icon-->
		<link rel="shortcut icon" type="image/ico" href="{% static 'images/tab_icon.jpg' %}">
		<!-- these two files are needed to properly implement collapsable hamburger menu -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

		<!-- font awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<!-- specify all static files so Django can detect them using DTL -->
		<!-- owl carousel -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">	
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- custom css file -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	</head>
	<!-- background image. Ignore this error the syntax is correct -->
	<body style="background-image:url({% static 'images/bg2.jpg' %})" class="myBody">
		
		<!-- NAVBAR -->
		<!-- sticky nav -->
		<nav class="navbar navbar-expand-md navbar-light" style="background-color:rgba(255, 253, 218, 0.95);">
			<!-- container pushes items more center as opposed to putting them at the edge of each end of the screen -->
			<div class="container">
				<!-- navbar brand is the title -->
				<a href="/{{LANGUAGE_CODE}}/" class="navbar-brand">
					<!-- translation text see views.py home function-->
					<img type="image/ico" src="{% static 'images/tab_icon.jpg' %}" style="border-radius: 50%;" width="30" height="30">
					<!-- using load i18n declaration at top of template -->
					Kaoru's Art Gallery
				</a>


				<!--hamburger button animation -->
				<!-- hamburger menu button  --> 
				<button
				class="navbar-toggler" 
				type="button" 
				data-toggle="collapse" 
				data-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" 
				aria-expanded="false" 
				aria-label="Toggle navigation">
				<!-- animated toggler -->
				<div id="nav-icon">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				</button>
				{% get_current_language as LANGUAGE_CODE %}
				<!-- area that is collapsed inside the hamburger icon -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<hr>
					<!-- nav bar items (login, register, about, etc.) ms auto moves list items to right side when not collapsed-->
					<ul class="navbar-nav ms-auto">
						<!-- create conditions for displaying login/register or logout buttons -->
						<!-- if user is logged in (has a cookie) show logout button-->
						{% if user.is_authenticated %}
							<li class="nav-item m-1">
								<a class="btn btn-outline-info btn-sm" href="/{{LANGUAGE_CODE}}/account/myaccount/{{user.id}}" title="My Account">{% translate "アカウント" %}</a>
							</li>
							<li class="nav-item m-1">
								<a class="btn btn-outline-info btn-sm" href="/{{LANGUAGE_CODE}}/account/logout" title="log out">{% translate "ログアウト" %}</a>
							</li>
							
							<!-- else if not logged in -->
						{% else %}
							<!-- redirect to login page -->
							<li class="nav-item m-1">
								<a class="btn btn-outline-info btn-sm" href="/{{LANGUAGE_CODE}}/account/login">{% translate "ログイン" %}</a>
							</li>
							<!-- redirect to login page -->
							<li class="nav-item m-1">
								<a class="btn btn-outline-info btn-sm" href="/{{LANGUAGE_CODE}}/account/register">{% translate "会員登録" %}</a>
							</li>
						{% endif %}
						<!-- Japan and United States flags -->
						<li id="japanFlag" class="p-1 mt-1" >
							<a class="dropdown-item btn btn-sm" role="button">
								<img src="{% static 'images/jp_flag_4x3.svg' %}" alt="mercari" width="28" height="18"/>
							</a>
						</li>
						<li id="unitedStatesFlag" class="p-1 mt-1">
							<a class="dropdown-item btn btn-sm" role="button">
								<img src="{% static 'images/us_flag_4x3.svg' %}" alt="mercari" width="28" height="18"/>
							</a>
						</li>
							<!-- mercari icon -->
							<!-- <li>
								<a class="navbar-brand" href="https://jp.mercari.com/user/profile/430366596" target="_blank" style="text-decoration:none;" title=" {% translate 'メルカリ' %} ^_^">
									<img src="{% static 'images/svg_mercari_icon_red.svg' %}" alt="mercari" width="48" height="48"/>
								</a>
							</li> -->
							<!-- cart -->
							<!-- <li class="m-1">
								<a class ="nav-link" href="/cart" title="View Shopping Cart">Cart</a>
							</li>  -->
							<!-- end cart -->
					</ul>
					<hr>
				</div>

			</div>

		</nav>
		<!-- END NAVBAR -->

		<!-- ACCOUNT DELETED MESSAGE -->
		{% if messages %}
		<div style="background:rgba(224, 255, 223, 0.9);">
			{% for message in messages %}
				{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
				<p class="text-center text-success" style="color:rgb(43, 255, 0);">{{message}}</p>
				{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<!-- change language d-flex must be on this div -->
		<div class="container d-flex justify-content-end mt-2">
			{% get_current_language as LANGUAGE_CODE %}
			{% get_available_languages as LANGUAGES %}
			{% get_language_info_list for LANGUAGES as languages %}

			<!-- welcome user-->
			{% if user.is_authenticated %}
				<div class="pt-1" style="display: table !important; margin: 0 auto !important;">
					{% if LANGUAGE_CODE == 'ja' %}
					<span class = "text-light bg-info fw-bold px-2 py-1" style="font-size: small;">{% translate 'こんにちは' %} {{user.username}}さん！</span>
					{% else %}
					<span class = "text-light bg-info fw-bold px-2 py-1" style="font-size: small;">{% translate 'こんにちは' %} {{user.username}}!</span>
					{% endif %}
				</div>
			{% endif %}

			<div class="dropdown ">
				<button 
				class="btn btn-sm btn-info dropdown-toggle text-light fw-bold"
				id="dropdownMenuLink" 
				type="button"
				data-toggle="dropdown" 
				aria-haspopup="true" 
				aria-expanded="false"
				style="background-color:rgb(25, 144, 255);">
				Language
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="min-width: 100px !important;">
					<!-- The set_language redirect 18n view called by post method
					-->
					<li>
						<form action="{% url 'set_language' %}" method="post" id="ja">
							{% csrf_token %}
							<input name="next" type="hidden" value="{{ redirect_to }}">
							<input name="language" type="hidden" value="ja" />
						</form>
						<button class="dropdown-item btn btn-sm" type="submit" form="ja" value="Submit">日本語</button>
						<div class="dropdown-divider"></div>
					</li>
					<li>
						<form action="{% url 'set_language' %}" method="post" id="en">
							{% csrf_token %}
							<input name="next" type="hidden" value="{{ redirect_to }}">
							<input name="language" type="hidden" value="en" />
						</form>
						<button class="dropdown-item btn btn-sm" type="submit" form="en" value="Submit">English</button>
					</li>
				</ul>
			</div>
		</div>

		<!-- register block -->
		<div id="register_content">
			{% block registercontent %}{% endblock %}
		</div>
		<!-- login block see login.html -->
		<div id="login_content">
			{% block logincontent %}{% endblock %}
		</div>
		<!-- my account block -->
		<div id="myaccount_content">
			{% block myaccountcontent %}{% endblock %}
		</div>
		<!-- checkout block-->
		<div id="checkout_content">
			{% block checkoutcontent %}{% endblock %}
		</div>
		<!-- thank you page block -->
		{% block thankyoucontent %}
		{% endblock %}
		<!-- password reset block-->
		<div id="password_reset_content">
			{% block passwordresetcontent %}{% endblock %}
		</div>
		<!--  PORTRAIT SECTION -->
		<section class="gallery min-vh-100" >
			<div class="container-lg">
				<!-- carousel page see carousel.html -->
				<div class="carousel">
					{% block carousel_content %}{% endblock %}
				</div>
				<!-- gy controls vertical gutter (space between row) padding 
					gx controls vertical gutter (space between columns) padding
					row-cols-2 means 2 colums for extra small screens < 576px
					row-cols-sm-2 means 2 columns for small screens < 576px
					row-cols-md-3 means 3 columns for medium screens >= 768px
				-->
				<div class="row gy-4 gx-3 row-cols-2 row-cols row-cols-sm-2 row-cols-md-3 ">
					{% for paintingData in paintingObjects %}
					{% get_current_language as LANGUAGE_CODE %}
						<!-- posting images-->
						<div class="card-deck">
							<div class="card">
								<div>
									{% if LANGUAGE_CODE == 'ja' %}
									<p class= "card-title text-start pt-3 px-4 fw-bold" id="painting_name">{{paintingData.name}}
									</p> 
									{% else %}
									<p class= "card-title text-start pt-3 px-4 fw-bold" id="painting_name">{{paintingData.english_name}}
									</p> 
									{% endif %}
								</div>
								{% if LANGUAGE_CODE == 'ja' %}
								<p class="text-secondary text-center px-1" style="font-size: small;" id="homepage_short_description">{{paintingData.short_description}}</p>
								{% else %}
								<p class="text-secondary text-center px-1" style="font-size: small;" id="homepage_short_description">{{paintingData.english_short_description}}</p>
								{% endif %}
								<!-- this class is what streamlines all image sizes dynamically -->
								<div class= "card-img imagehover p-1">
										<!-- making static images as baseURL variable called url, useful for dynamically adding images 
										painting is the model datafield in models.py
										gallery-item used by main.js -->
										<a class="carousel-click" id="{{paintingData.pk}}" href="/{{LANGUAGE_CODE}}/carousel/">
											<img src="{{paintingData.main_painting.url}}" />
										</a>
										<!-- THIS IS MODAL CODE, KEEPING IT FOR FUTURE POSSIBLE USE -->
										<!-- <img src="{{paintingData.painting.url}}" class="gallery-item gallery-link" id="{{paintingData.pk}}"
										data-toggle="modal" 
										data-target="painting-modal" 
										data-name="{{paintingData.name}}" 
										data-description="{{ paintingData.short_description }}"
										data-price="${{ paintingData.price }}"> -->
								</div>
								<!-- check if painting has been sold -->
								{% if paintingData.is_sold is True %}
								<div class="container row text-center">
									<p class="col font-weight-bold">
										Sold
									</p>
								</div>
								{% else %}
								<!-- yen or dollar display-->
								<div class="container row text-center">
									<div class="jpy_currency" id="jpy-price-{{paintingData.pk}}">
										<p class="col font-weight-bold" id="jpy">
											¥{{paintingData.price}}
										</p>
									</div>
									<!-- initially show jpy -->
									<div class="usd_currency" id="usd-price-{{paintingData.pk}}">
										<p class="col font-weight-bold" id="usd">
											${{paintingData.dollar_price}}
										</p>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
					<!-- END Paintings -->
			</div>
		</section>
		<!-- END PORTRAIT SECTION -->

		<!-- call currency changer script -->
		<!-- show price based on country -->
		<!-- get country variable -->
		{{ user.account.country|json_script:'currentCountry' }}
		<!-- get user authenticated boolean -->
		{{user.is_authenticated|json_script:'user_is_logged_in'}}
		<script>

			// variable of user's country
			var currentCountry = JSON.parse(document.getElementById('currentCountry').textContent);
			var user_logged_in = JSON.parse(document.getElementById('user_is_logged_in').textContent);

			const japanElement = document.getElementById("japanFlag").addEventListener("click", hideUSD);
			const unitedStatesElement = document.getElementById("unitedStatesFlag").addEventListener("click", hideJPY);
			
			// session storage to display and persist price based on country
			var unitedStatesChosen = sessionStorage.getItem('unitedStatesChosen');

			// will hold the divs of each painting which contains the prices
			var jpy_list = []
			var usd_list = []
			// reading cookie
			function hideUSD() {
				//if (user_logged_in == false) {
					// set sessionstorage item
					sessionStorage.setItem('unitedStatesChosen', 'false');
					// when Japan country is clicked, hide usd and show jpy
					for (usd_ids of usd_list) {
						$(usd_ids).hide();
					}
					for (jpy_ids of jpy_list) {
						$(jpy_ids).show();
					}							
				//}
			}

			function hideJPY() {
				//if (user_logged_in == false) {
				sessionStorage.setItem('unitedStatesChosen', 'true');
				changedToUSA = true;
				// when United States country is clicked, hide jpy and show usd
				for (jpy_ids of jpy_list) {
					$(`${jpy_ids}`).hide();
				}
				for (usd_ids of usd_list) {
					$(`${usd_ids}`).show();
				}
				//}
			}

			// on page load, only show jpy
			function initialCountry() {
				// when user is anonymous
				if (user_logged_in == false) {

					// get object instances of jpy divs
					var jpyPrices = document.getElementsByClassName('jpy_currency');
					// get object instances of usd divs
					var usdPrices = document.getElementsByClassName('usd_currency');

					// iterate over image objects to get ids of each image object's jpy prices
					for (let jpy_price of jpyPrices) {
						// get ids of div for each pictures jpy and usd prices
						let jpy_price_ids = jpy_price.id;
						// push it to list
						jpy_list.push('#' + jpy_price_ids)
					}

					// iterate over image objects to get ids of each image object's usd prices
					for (let usd_price of usdPrices) {
						// get ids of div for each pictures jpy and usd prices
						let usd_price_ids = usd_price.id;
						// push it to list
						usd_list.push('#' + usd_price_ids)
					}
					
					
					if (unitedStatesChosen == 'false') {
						for (items of usd_list) {
							$(`${items}`).hide();
						}
					}
					else if (unitedStatesChosen == 'true') {
						for (items of jpy_list) {
							$(`${items}`).hide();
						}
					}
					// if unitedStatesChosen sessionstorage var is null
					else {
						// hide us items
						for (items of usd_list) {
							$(`${items}`).hide();
						}
						// show jpy items
						for (items of jpy_list) {
							$(`${items}`).show();
						}
					}
				}
				// else if the user is logged in
				else if (user_logged_in == true && currentCountry != null) {
					// delete session storage
					sessionStorage.removeItem('unitedStatesChosen');
					// need to repopulate lists
					loggedInCountrySelect();
					//if the user is logged in and has selected a country in the account form
					if (currentCountry == 'JP') {
						// remove US flag and disable JP flag
						// hide usd items
						for (items of usd_list) {
							$(`${items}`).hide();
						}
						// show jpy items
						for (items of jpy_list) {
							$(`${items}`).show();
						}
						// show japan flag, hide us flag, disable both
						$('#japanFlag').show();
						$('#japanFlag').attr('disabled','disabled');
						$('#japanFlag').css('pointer-events', 'none');
						$('#unitedStatesFlag').hide();
						$('#unitedStatesFlag').attr('disabled','disabled');
					}
					else if (currentCountry == 'US') {
						// show US flag and disable JP flag
						for (items of jpy_list) {
							$(`${items}`).hide();
						}
						for (items of usd_list) {
							$(`${items}`).show();
						}
						$('#unitedStatesFlag').show();
						$('#unitedStatesFlag').attr('disabled','disabled');
						$('#unitedStatesFlag').css('pointer-events', 'none');
						$('#japanFlag').hide();
						$('#japanFlag').attr('disabled','disabled');

					}

				}
				// user is logged in but hasn't updated their country yet
				else {
					// initially hide us items show jpy
					if (usd_list == '') {
						//repopulate lists
						loggedInCountrySelect();
						// initially show jpy
						for (items of usd_list) {
							$(`${items}`).hide();
						}
						for (items of jpy_list) {
							$(`${items}`).show();
						}
					}
					if (unitedStatesChosen == 'false') {
						for (items of usd_list) {
							$(`${items}`).hide();
						}
						for (items of jpy_list) {
							$(`${items}`).show();
						}
					}
					else if (unitedStatesChosen == 'true') {
						for (items of usd_list) {
							$(`${items}`).show();
						}
						for (items of jpy_list) {
							$(`${items}`).hide();
						}
					}
					// then the eventlisteners should take over the functionality and act the same as anonymous users
				}

			}
			// same thing as initialCountry but for logged in users who haven't selected a country
			function loggedInCountrySelect() {
					// get object instances of jpy divs
					var jpyPrices = document.getElementsByClassName('jpy_currency');
					// get object instances of usd divs
					var usdPrices = document.getElementsByClassName('usd_currency');

					// iterate over image objects to get ids of each image object's jpy prices
					for (let jpy_price of jpyPrices) {
						// get ids of div for each pictures jpy and usd prices
						let jpy_price_ids = jpy_price.id;
						// push it to list
						jpy_list.push('#' + jpy_price_ids)
					}

					// iterate over image objects to get ids of each image object's usd prices
					for (let usd_price of usdPrices) {
						// get ids of div for each pictures jpy and usd prices
						let usd_price_ids = usd_price.id;
						// push it to list
						usd_list.push('#' + usd_price_ids)
					}
			}
			// called onbody
			initialCountry()
		</script>

		<!-- MODAL SECTION -->
		<!-- id ''gallery modal is used by main.js to create modal -->
		<div class="modal fade" id="painting-modal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="painting-name"></h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<!-- <span aria-hidden="true">&times;</span> -->
						</button>
					</div>
					<div class="modal-body">
						<!-- div for description -->
						<div>
							<p id="modal-short-description"></p>
						</div>
						<!-- front modal image -->
						<div>
							<!-- when image in modal is clicked, go to that specific painting's page -->
							<a 
							class="carousel-click" 
							href="/carousel/">
								<img id="modal-img" src="" />
							</a>
						</div>
					</div>
					<div class="modal-footer">
						<!-- price -->
						<p id="modal-price"></p>
						<!-- add to cart -->
						<a class ="nav-link" href="/" title="View Shopping Cart" id="modal_cart">Add to Cart</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL -->

		
		<!-- Footer -->
		<footer class="footer">
			<div class="bg-transparent text-center footer_text p-1" style="font-size: small;">
				<!-- Add styling from .net web app -->
				&copy;
				2022 - Developed by
					<a class="company_link" style="text-decoration:none;" 
							href="https://lctechnologies.azurewebsites.net/" target="_blank">
								LC Technologies
					</a>
					- Jesus Christ is King
			</div>
		</footer>
		<!-- end Footer -->

			<!-- jquery for carousel -->
		<!-- jquery -->
		<!-- owl carousel -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
		<!-- When a link is clicked, grab all the data values and pop them inro the modal -->
		<script type="text/javascript">

			// JQuery start for modal -- not being used but kept for future possible use
			/**$('.gallery-link').click(function(){
				// get the primary key
				// prime_key = $(this).attr("id");
				// MODAL START
				// painting name
				$('#painting-name').html($(this).data('name'));
				// painting description
				$('#modal-short-description').html($(this).data('description'));
				// painting
				var src = $(this).attr("src");
				$("#modal-img").prop("src",src);
				//painting price
				$('#modal-price').html($(this).data('price'));
				// show the modal
				//$('#painting-modal').modal('show');
				// END MODAL
			}); 
			// END JQuery modal
			*/ 

			// AJAX
			$('.carousel-click').click(function(){
				prime_key = $(this).attr("id");
				$.ajax({
					type: "GET",
					// A string containing the URL to which the request is sent.
					url: $(this).attr("href", '/carousel/' + prime_key),
					// if success i.e. 200 response
					success: function(data) {
					},
					error() {
					}
				});
			})
			// END AJAX
		</script>
		<script>
			// for  hamburger animation
			$(document).ready(function(){
				$('.navbar-toggler').click(function(){
					$('#nav-icon').toggleClass('open');
				});
			});
		</script>



		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script> 
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script> 
		<!-- has to be v4 and placed on the bottom required to make hamburger button. work static file not working -->
		<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
		<!-- needed for dropdown menu -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
		<script src="{% static 'js/parallax.min.js' %}"></script>
		
	</body>
</html>