English below 👇


{{name}}さん、

絵画のご購入誠にありがとうございます。このメールはご注文の確認のためのものです。

ご注文番号をお控え下さいますようお願いいたします。
万が一トラブルなどがあった場合に、この注文番号が必要となります。

注文の詳細:
*********

購入したアイテム: {{painting_name}}

注文番号: {{orderId}}


日本から発送いたしますので、お届けまで3週間ほどお時間をいただいております。

キャンセル・返品など、ご注文に関するご質問やご不明な点がございましたら、
お気軽にkaoruartgallery@gmail.comまでご連絡ください。


ご支援いただきありがとうございます。引き続きArt Galleryをお楽しみください。


- クランダル 薫





{{name}},

Thank you for your recent purchase! This email is confirmation of your order. 
Please keep your order number somewhere safe as it will be used to verify you and your purchase.


Order detials:
**************

Item purchased: {{painting_name}}

Order number: {{orderId}}


Since we are shipping from Japan, please allow up to three weeks for your painting to be delivered to your address.

If you have any questions or concerns regarding your order, including cancellation/refund inquiries,
please do not hesitate to reach out to me at kaoruartgallery@gmail.com.


Thank you again for your support and I hope you continue enjoying my Art Gallery!


- Kaoru Crandall






------ THIS IS AN AUTOMATED EMAIL. REPLIES TO THIS EMAIL WILL NOT BE DELIVERED ------


©2022 - LC Technologies - Jesus Christ is King