{% extends "index.html" %}
{% load i18n %}

    {% block title %} Log in {% endblock %}
    {% block content %}
    <div class="p-5">
        <main role="main">
            <!-- centers content in center of page -->
            <div class="row justify-content-center">
                <div class="col-md-4 ">
                    <section>
                        <!-- CARD -->
                        <div class="card credintial-card">
                            <div class="card-body">
                                <h2 class="card-title p-3">{% translate 'ログイン' %}</h2>
                                <!-- error messages -->
                                <div class="ms-auto text-danger">
                                    {% for message in messages %}
                                    <!-- jinja format to print the message -->
                                    <p>{{message}}</p>
                                    {% endfor %}
                                </div>
                                <!-- end error messages -->
                                <!-- form for logging in -->
                                <form action="login" method="post">
                                    <!-- remember csrf_token declaration for security middleware, creates csrf cookie -->
                                    {% csrf_token %}
                                    <!-- extend this to allow username or email for login credentials -->
                                    <!-- Username input -->
                                    <div class="form-group p-3">
                                        <input type="text" name="username" placeholder="{% translate "ユーザー名" %}" id="form2Example1" class="form-control" />
                                    </div>
                                    <div class="form-group p-3">
                                        <input type="password" name="password" placeholder="{% translate "パスワード" %}" id="form2Example1" class="form-control" />
                                        <a class = "ms-auto" href="" style="text-decoration: none;">{% translate 'パスワードをお忘れですか？' %}</a>
                                    </div>
                                    <div class="text-center">
                                        <!-- redirect to registration page put this in login page -->
                                        <button type="submit" class="btn btn-primary btn-block mb-4">{% translate 'ログイン' %}</button>
                                    </div>
                                </form>
                                <!-- Register buttons -->
                                <div class="text-center pb-3">
                                    <!-- Register buttons -->
                                    <div class="text-center">
                                        <!-- redirect to registration page put this in login page -->
                                        <a role="button" type="submit" class="btn btn-sm btn-outline-dark btn-block mb-4" href="/account/register">{% translate 'アカウントをお持ちでない方' %}</a>
                                    </div>
                                    <p class="card-text">{% translate 'または' %}</p>
                                    <button type="button" class="btn btn-link btn-floating mx-1" style="background-color: rgb(0, 102, 255);" title=" {% translate 'フェイスブック' %}">
                                    <i class="fab fa-facebook-f"style="color: white;"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1" title=" {% translate 'グーグル' %}">
                                    <i class="fab fa-google"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1" title=" {% translate 'ツイッター' %}">
                                    <i class="fab fa-twitter"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CARD -->
                    </section>
                </div>
            </div>
        </main>
    </div>
    {% endblock %}