English below 👇


{{name}}さん、

絵画のご購入誠にありがとうございます！このメールはご注文の確認のためのものです。😁


注文の詳細:


購入したアイテム: {{japanese_painting_name}}

商品の小計： ${{usd_price}}

配送料・手数料： ${{usd_shipping_price}}

合計：${{usd_total_price_paid}}

注文番号: {{orderId}} 
(ご注文番号をお控え下さいますようお願いいたします。万が一トラブルなどがあった場合に、この注文番号が必要となります。)


配送に関する情報:


私たちは、日本の郵便サービス「日本郵便」を介して、日本から米国に絵画を発送し
ます。支払い後、絵を梱包して発送するまで、土日祝日を除く最大 2 日かかります。
ご注文の絵の発送が完了次第、日本郵便の追跡番号をEメールでお知らせします。荷物の追跡に使
用できる日本郵便のウェブサイトは次のとおりです:
https://trackings.post.japanpost.jp/services/srv/sequenceNoSearch/input?locale=en

絵画が届くまで最大 5 週間かかります。


払い戻し・キャンセルのお知らせ:


お客様は、絵画が配送先住所に正常に配送されてから 10 日間以内であれば、理由の如
何を問わず返品返金を受ける権利を有します。ご入金後、速やかにメール便にて発送
いたしますので、キャンセルが間に合わない場合がございます。注文をキャンセルし
たい場合は、Eメールで送信されたkaoruartgallery@gmail.comからすぐにご連絡ください。
尚、10日間以降のキャンセル、返金は承りませんので、ご了承お願い致します。


キャンセル・返品など、ご注文に関するご質問やご不明な点がございましたら、
お気軽にkaoruartgallery@gmail.com までご連絡ください。




ご支援いただきありがとうございます。引き続きArt Galleryをお楽しみください。


- クランダル 薫 🐣





Hi {{name}},

Thank you for your recent purchase! This email is confirmation of your order. 😁


Order detials:


Painting purchased: {{english_painting_name}}

Painting Price: ${{usd_price}}

Shipping/Handling: ${{usd_shipping_price}}

Total amount paid: ${{usd_total_price_paid}}

Order number: {{orderId}}
(Please keep your order number somewhere safe as it will be used to verify you and your purchase if there are any problems with your order.)


Delivery Details:


We ship our paintings to the United States from Japan via the Japanese 
postal service, Japan Post. Please allow up to two days excluding weekends 
and holidays for your painting to be packaged and sent after payment. For 
your convenience, we will email you the Japan Post tracking number for your 
painting as soon as we send it in the mail. Here is the Japan Post website 
that you can use to track your package:
https://trackings.post.japanpost.jp/services/srv/sequenceNoSearch/input?locale=en

Please allow up to 5 weeks for your painting to arrive.


Refund/Cancellation Policy:


The customer has a right to a full refund for any reason for up to 10 days 
after the painting has been successfully delivered to the shipping address. 
Because we will send the painting to you in the mail as soon as possible 
after your payment has been made, we may not be able to cancel in time. 
Please contact us immediately after making your payment via our contact 
email kaoruartgallery@gmail.com if you wish to cancel and we will do our 
best to accomodate your request.
Please note that cancellations and refunds will not be accepted after 10 
days.


If you have any questions or concerns regarding your order, including cancellation/refund inquiries,
or if you just want to say hi, please do not hesitate to reach out to me at kaoruartgallery@gmail.com.


Thank you again for your support and I hope you continue enjoying my Art Gallery!


- Kaoru Crandall 🐣




------ THIS IS AN AUTOMATED EMAIL ------


©2022 - LC Technologies - Jesus Christ is King👑
